* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 70%;
  margin: 0 auto 5rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0 3rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 3rem auto;
  border-radius: 15px;
}

h2 {
  font-size: 1.4rem;
  margin: 3rem 0 1rem;
}

p {
  padding-left: 0.2rem;
}

p,
li {
  margin-bottom: 0.2rem;
}

ul,
ol {
  padding-left: 2rem;
}

a {
  position: fixed;
  top: 3px;
  left: 3px;
  text-decoration: none;
  padding: 4px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: steelblue;
  color: #fff;
}

a:hover {
  background: rgb(45, 112, 167);
}

/* Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
